.welcome {
  text-align: center;
  margin: 20px;
  font-size: 18px;
}

body {
  background-color: #cecece;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.dropdown span {
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 6px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
  flex-direction: column; 
}

.dropdown-content li {
  padding: 8px 0;
  white-space: nowrap;
}

.dropdown-content a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
}

.dropdown-content a:hover {
  color: #007bff;
}

header {
  background-color: #343a40;
  color: #f2f2f2;
  text-align: center;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #343a40;
  font-weight: bold;
  font-size: 18px;
}

main {
  padding: 20px;
}

.qa {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  color: #343a40;
}

p {
  text-align: justify;
  color: #545454;
}

li {
  text-align: justify;
  margin-bottom: 10px;
}


.container {
  background-color: white;
  text-align: center;
  margin: 7vh auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 60vw;
}

.center-table {
  margin: 0 auto;
  text-align: right;
}

h3 {
  color: #343a40;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 60vw;
}

table,
th,
td {
  border: 1px solid #343a40;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: #343a40;
}

td {
  text-align: center;
}

th,
td,
h3 {
  font-weight: bold;
}

table td:nth-child(2),
table td:nth-child(3),
table td:nth-child(4) {
  text-align: center;
}

table td:nth-child(1) {
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #f1f1f1;
}

table tr:hover {
  background-color: #d5e2e8;
}

body {
  background-color: #cecece;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #343a40;
  color: #f2f2f2;
  padding: 20px;
}

main {
  padding: 20px;
}

.form-group {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.form-field label {
  margin-right: 10px;
  width: 100px;
  display: inline-block;
}

.form-field input {
  max-width: 25vw;
  margin-right: 3vw;
}

.btn-success {
  color: black;
  align-items: center;
}

#myCanvas {
  background-color: rgb(236 236 236 / 94%);
  align-self: center;
  background-color: rgb(236 236 236 / 94%); 
  align-self: center;
}

.center-table {
  text-align: center;
  margin: 0 auto;
}

select {
  width: 15%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000000;
  font-size: 15px;
}

input {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000000;
}

#canvas1,
#canvas2 {
  width: 55%;
  margin: 10px;
  height: auto;
  position: absolute;
  display: none;
  background-color: white;
}

#main-container {
  margin: 20px;
}

.input-form label,
.input-form input,
.input-form button {
  display: block;
  margin-bottom: 13px;
}

.canvasWrapper {
  width: 100%;
  resize: both;
  overflow: auto;
  border: 1px solid #343a40;
}